<template>
  <div>
    <div class="my-2">
      <v-btn
        depressed
        small
      >Normal</v-btn>
    </div>
    <div class="my-2">
      <v-btn
        depressed
        small
        color="primary"
      >Primary</v-btn>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>