<template>
  <div>
    <div class="my-2">
      <v-btn
        depressed
        small
        color="error"
      >Error</v-btn>
    </div>
    <div class="my-2">
      <v-btn
        depressed
        small
        disabled
      >Disabled</v-btn>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>